* {
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px
}

.tittle {
    background-color: rgb(36, 138, 36);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.navbar {
    gap: 30px;
    /* khoảng cách giữa các mục */
    display: flex;
}

.navbar a {
    color: white;
}
.main-container{
    text-align: center;
    background-color: beige;
    margin-bottom: 20px;
    padding:20px;
}
.start {
    background-color: rgb(36, 138, 36);
    border-radius: 2px;
    border:1px solid white;
    margin-bottom: 50px;
    padding:10px;
  }
  .start a{ 
    color:white;
  }
  
.projects{
    justify-content: space-between;
    gap: 20px;
    display:flex;
    width:100%;
    border-radius: 6px;
    flex-wrap: wrap;
    margin-left: 30px;
}
.content {
    flex:1;
    border: 1px solid white;
    background-color: rgb(190, 190, 190);
    padding: 5px;
    margin: 0 10px;
    margin-bottom: 5px;
    }
    .content a{
      color:black;
       }
.end{
    background-color: black;
    color:white;
    text-align: center;
    font-size: 12px;
    height: 35px;
    padding: 10px 0 0 0;
}